html, body{
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

h3{
  font-weight: normal;
   margin: 0px;
   margin-bottom: 2px;
   text-transform: uppercase;
   font-size: 14px;
}

h4{
  font-weight: normal;
   margin: 0px;
   font-size: 12px;
}

.control-button{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #3f3f3f;
  color: #fff;
  text-align: center;
vertical-align: middle;
line-height: 40px; 
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-size: 22px;
}

 .control-button.selected{
  color: #3f3f3f;
  background-color: #fff;
}

.control-button.recording{
  /*color: #f00;*/
   border-bottom: 4px solid #f00;
}

 #draw{
  border: 4px solid #fff;
 }

 #draw.recording{
  border: 4px solid #f00;
 }



.controls{
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0px;
  height: 100%;
  color: #fff;
  max-width: 400px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(80, 80, 80, 1.0);
}

.control-element{
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  display: inline-block;
   vertical-align: middle;
}

.control-group{
  vertical-align: middle;
  padding: 10px;
  border: solid 1px #666;

}
#root{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000;
}
