html, body{
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
}

h3{
  font-weight: normal;
   margin: 0px;
   margin-bottom: 2px;
   text-transform: uppercase;
   font-size: 14px;
}

h4{
  font-weight: normal;
   margin: 0px;
   font-size: 12px;
}

.control-button{
  width: 40px;
  height: 40px;
}

 #draw{
  border: 2px solid #fff;
 }

 #draw.recording{
  border: 2px solid #f00;
 }

.controls{
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0px;
  height: 100%;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(255, 255, 255, 0.3);
}

.control-element{
  margin-top: 10px;
  margin-bottom: 10px;
}
.control-group{
  
  padding: 15px;
  border: solid 1px #666;
}
#root{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000;
}
